*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg , rgb(190, 207, 148),rgb(83, 83, 169));
    padding: 10px;
}
.contain{
    display: flex;
    margin-left: 20px;
}

.contain button{
    border-radius: 35%;
    border: none;
    width: 45px;
    height: 35px;
    /* margin-left: 38px; */
    background-color: rgb(196, 168, 132);
    color: white;
}

.contain button:hover{
    background-color: rgb(240, 145, 20);
    transition: 1s;
}

#input-area{
    border-color: whitesmoke;
    border-radius: 10%;
    width: 200px;
}

.to-do-list{
    margin:100px auto;
    justify-content: center;
    align-items: center;
    width: 60vh;
    padding: 15px;
    background-color: white;
    border-radius: 10%;
}
.to-do-list h1{
    margin-bottom: 30px;
    margin-top: 10px;
    /* margin-left: 5px; */
    padding-left: 80px;
    color: rgb(6, 102, 57);
    background-color: antiquewhite;
    background: linear-gradient(130deg ,white , rgb(118, 155, 189) , white);
    border-radius: 20%;
}

ul li{
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-left: 25px;
}

ul li::before{
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

.list-container{
    display: flex;
    margin-top: 10px;
}

ul li span{
    position: absolute;
    width: 30px;
    top: 4px;
    right: 60px;
    margin-top: -10px;
    /* margin-top: 10px; */
    height: 30px;
    text-align: center;
    color: rgb(181, 204, 204);
    font-size: 25px;
    line-height: 30px;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #555;
    transition: 1ms;
}